html {
	background-color:#272A33;
	color:white;
}

html a {
	color:blue;
}

body {
	min-width:1000px;
}

body.isPending {
	overflow:none;
}

div.primaryPanel {
	background-color:#111518;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	text-align:center;
	
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}

body.hasTextPanel div.primaryPanel {
	width:750px;
	border-right:2px solid #404445;
}

body:not(.hasTextPanel) div.primaryPanel {
	right:0px;
}

div.primaryPanel > div.panelContainer {
	overflow-y:auto;
	overflow-x:hidden;
	width:748px;
}

div.primaryPanel > div.panelContainer > div.pageTitle {
	font-family: 'Marcellus SC', serif;
	font-weight:600;
	font-size:2.0em;
	margin-bottom:20px;
	margin-top:50px;
}

div.primaryPanel > div.panelContainer  > div.primaryView > * {
	max-width:650px;
	border:5px solid black;
}

div.primaryPanel > div.panelContainer > div.primaryView > object {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

div.primaryPanel > div.panelContainer > div.nextPageLink {
	margin-top:20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:1.3em;
	width:650px;
	max-width:650px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

div.textPanel {
	padding:10px;
	font-family: courier, monospace;
	margin-left:750px;
	overflow-y:auto;
}

body:not(.hasTextPanel) div.textPanel {
	display:none;
}

div.textPanel > div {
	/* pesterchum */
	background-color:#EEEEEE;
}

div.textPanel > div table p {
	/* the actual pesterchum log... nested somewhere deep within the bowels */
	padding:6px;
	font-size:13px;
}

div.textPanel span.whiteText {
	background-color:black;
}

div.textPanel span.vriska {
	text-decoration:underline;
}

div.textPanel button {
	width:200px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border:1px solid black;
}

div.loading {
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background:url("ajax-loader.gif") rgba(0, 0, 0, 0.8) no-repeat center center;
}

/** DOC SCRATCH PAGE **/
html.scratch {
	background-color:#0e4603;
	color:white;
}

html.scratch a {
	color:rgb(44, 255, 75);
}

html.scratch div.primaryPanel {
	background-color:#082a00;
}

html.scratch body.hasTextPanel div.primaryPanel {
	border-color:;
}